* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: white;
}

header {
    background-color: rgb(184, 147, 46);
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

article {
    background: white;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

footer {
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

h2 {
    text-align: center;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    min-width: 120px;
    text-align: center;
    position: relative;
}
.badge {
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
    white-space: nowrap;
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 10;
}